.footer {
  margin-top: 1.3vh;
  margin-bottom: 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 6%;
  background-color: lightgray;
  width: 105%;
  text-align: left;
  margin-left: -1%;
  padding-top: 3vh;

  .title {
    font-size: 1.1vw;
    padding-left: 10vh;
  }
  .author {
    padding-left: 10vh;
    padding-top: 1vh;
    font-size: 0.7vw;
    padding-bottom: 3vh;
  }
}
