.footer {
  margin-bottom: 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: lightgray;
  margin-left: 0px;
  text-align: left;
  padding-left: 10vh;
  padding-top: 3vh;

  .title {
    font-size: 2.1vh;
  }
  .author {
    padding-top: 1vh;
    font-size: 1.5vh;
    padding-bottom: 3vh;
  }
}
