.clouds-title {
  font-size: 20px;
}

.clouds-description {
  margin-top: -0.7%;
  font-size: 15px;
}

.temperature-wind-info {
  margin-top: 1.5%;

  .temperature-value {
    font-size: 20px;
  }

  .wind-info {
    margin-top: -0.7%;
    font-size: 15px;
  }
}
.see-forecast-button {
  border-radius: 8px;
  border: none;
  color: black;
  padding: 10px;
  font-size: 17px;
  margin-top: 1.5%;
  background-color: lightgray;
}
